* {
  margin: 01;
  padding: 01;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
  font-size: 25px;
  background-image: url("../img/fundo.jpg");
  background-size: cover;
  
  
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;

  color: blue;
}

.text h1::after {
  content: '';
  width: 100%;
  height: 5px;
  background: red;
  display: block;
  margin: 1px auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: justify;
  color: black;
}

.card {
  max-width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.226);
  border: 2px solid white;
  border-radius: 20px;
  text-align: justify;
  padding: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.button button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 100px;

  background-color: rgba(131, 243, 187, 0.233);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 700px) {

  .text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
    color: white;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin-top: 5%;
    color: rgb(224, 216, 216);
  }

  .card {
    max-width: 88%;
    height: 80%;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-align: justify;
    padding: 50px;
  }

  .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 5%;
  }

}

@media screen and (max-width: 300px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin-top: 5%;
    color: white;
  }

  .card {
    max-width: 94%;
    height: 80%;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
  }

  .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 5%;
  }
}